*{
    background-color: rgb(33, 31, 30);
}
html {
	font-family: Helvetica, sans-serif;
    font-size: 16px;
    color: darkgrey;
    line-height: 1.5;
}
img{
    display: inline-block;
}
/* GRID */
.container{
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
}
/* .row{
    
} */
.row:after{
    clear: both;
    content: "";
    display: table;
}
.col-4{
    width: 300px;
    margin-right: 20px;
    float: left;
}
.col-4:last-child{
    margin-right: 0px;
}

/* HEADER */
.header {
	background:  black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50px;
    
    display: flex;
    font-size: 40px;
    text-align: right;
}

/* BACKGROUND LOGO */
.background{
    background:  url(../img/BG2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.7;
    height: 85vh;
}
.logotype{
    
    opacity: 0.2;
    height: 85vh;
    width: 1024px;
}
/* Android developing */
.bg_mobile_gaming{
    background:  black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50px;
    
    font-size: 40px;
}
/* CONTENT */
.content{
	padding-top: 70px;
    padding-bottom: 100px;
}
.content-item{
    margin-bottom: 20px
}
.content-item-img{
    padding: 20px;
    max-width: 400px;
    border: 1px solid;
    border-radius: 10%;
}

/* FOOTER */
.footer{
    background-color: black;
}
/* MEDIA */
@media (max-width: 1160px){
    .container{
        width: 100%;
    }
    .col-4{
        width: 100%;
        box-sizing: border-box;
        margin: 0;
        margin-bottom: 30px;
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
    }
}